body .lss-nav {
	padding:0px;
}
.lss-nav a {
	display: block;
	width: 100%; height:auto; overflow: hidden;
	padding:10px 20px;
	text-decoration: none;
	color:#3f51b5;
}
body .lss-nav-toolbar {
	width:100%;
	text-align: right;
}
body .lss-nav-toolbar a {
	color:#8794dd;
	text-decoration: none;
}body .lss-nav-toolbar .lss-nav-selected {
	background:#3f51b5;
	color:#fff;
}
